.atom--audio {
  background-color: transparent;
  border-image: none;
  border-top: 1px solid rgba($text-main, 0.25);
  // border-image: repeating-linear-gradient(to bottom, rgba($text-main, 0.25), rgba($text-main, 0.25) 1px, transparent 1px, transparent 4px) 13;
  .atom--audio {
    &__label {
      // color: $text-second;
      font-weight: 700;
      color: inherit;
    }
    &__headline {
      display: none;
    }
  }

}
