
.content__meta-footer,
.new-header .subnav,
.new-header .new-header__multiline,
.article .tags,
.meta.keyline-4:before {
  display: none;
}

.element.element-atom:first-of-type {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

figure.element.element-image {
  img {
    width: 100%;
    height: auto;
  }
  figcaption {
    padding: 2px 0 12px;
    color: $text-main;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    line-height: 20px;
    .ios &,
    .android & {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.content__main .content__main-column,
.article__body .prose {
  & > :last-child {
    padding-bottom: calc(100vh - 1175px  - 280px);
    margin-bottom: 32px;
  }
  p, li, & {
    color: $text-main;
    a, & > a {
      color: $text-second;
      border-bottom: 1px solid rgba($text-main, 0.25);
      text-decoration: none;
      transition: border-bottom 200ms;
      &:hover {
        text-decoration: none;
        border-bottom-color: $text-second;
      }
    }
  }
}
