// Hide default header
.content__head--interactive,
.article .article__header {
  background-color: $season-autumn;

  .content__labels,
  .article-kicker {
    display: none;
  }

  .content__headline,
  .headline {
    font-size: 32px;
    line-height: 36px;
    width: 8.25em;
    padding: 132px 0 196px;
    margin: 0 auto 0;
    z-index: 2;
    position: relative;
    transform: translateX(0.2em);

    @include mq(tablet) {
      font-size: 42px;
      line-height: 44px;
      padding: 164px 0 256px;
      transform: translateX(0.45em);
    }
    @include mq(desktop) {
      padding-left: 294px;
    }
    @include mq(leftCol) {
      font-size: 52px;
      line-height: 56px;
      padding: 194px 0 306px 156px;
    }

    span {
      display: block;
    }
    .h {
      font-weight: 700;
      color: $text-main;
      width: 6.87em;
    }
    .b {
      font-weight: 200;
      color: $text-second;
    }
  }

  .content__standfirst,
  .standfirst__inner {
    font-size: 22px;
    line-height: 28px;
    font-weight: 200;
    color: $text-main;
    padding: 20px 0 10px;
    position: relative;
    .ios &,
    .android & {
      padding-left: 12px;
      padding-right: 12px;
    }
    &:before {
      content: '';
      display: block;
      height: 20px;
      opacity: 0.25;
      position: absolute;
      left: -10px;
      right: -10px;
      top: 0;

      background: repeating-linear-gradient(
        $text-main,
        $text-main 1px,
        rgba(255,0,0,0) 1px,
        rgba(255,0,0,0) 5px,
        $text-main 5px
      );

      @include mq(mobileLandscape) {
        left: -20px;
        right: -20px;
      }
      @include mq(desktop) {
        right: -340px;
      }
      @include mq(leftCol) {
        left: -180px;
      }
      @include mq(wide) {
        left: -260px;
        right: -420px;
      }
    }
    @include mq(leftCol) {
      &:after {
        content: '';
        position: absolute;
        top: 16px;
        left: -10px;
        bottom: -6px;
        background-color: $text-main;
        opacity: 0.25;
        width: 1px;

      }
    }
    p > em {
      font-weight: 600;
      font-style: normal;
      color: $text-second;
      border-bottom: 1px solid rgba($text-main, 0.5);
      cursor: pointer;
      padding-bottom: 1px;
      &:hover {
        border-color: $text-second;
      }
    }
  }

  .bg-illustration {
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    height: 508px;
    z-index: 1;
    @include mq(mobileLandscape) {
      left: -20px;
      right: -20px;
    }
    @include mq(tablet) {
      height: 640px;
    }
    @include mq(desktop) {
      right: auto;
      width: 980px;
    }
    @include mq(leftCol) {
      left: -169px;
      height: 780px;
      width: 1139px;
    }
    @include mq(wide) {
      left: -249px;
      height: 780px;
      width: 1299px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}


