[data-season] .content__main,
figure,
.poem-separator,
.poem__images__inner:after,
.poem__images__inner:before,
.poem__inner,
body .article .article__header,
body .article .article__body {
  transition: background-color 12s linear;
}
.poem__images {
  &__autumn,
  &__spring,
  &__summer,
  &__winter {
    transition: opacity 12s linear;
  }
}


// Default is autumn
  .content__main,
  figure,
  .poem-separator,
  .poem__images__inner:after,
  .poem__images__inner:before,
  .poem__inner,
  body .article .article__header,
  body .article .article__body {
    background-color: $season-autumn;
  }
[data-season='autumn'] {
  .poem__images__autumn {
    opacity: 1;
  }
}

[data-season='winter'] {
  .content__main,
  figure,
  .poem-separator,
  .poem__images__inner:after,
  .poem__images__inner:before,
  .poem__inner,
  body .article .article__header,
  body .article .article__body {
    background-color: $season-winter;
  }
  .poem__images__winter {
    opacity: 1;
  }
}

[data-season='spring'] {
  .content__main,
  figure,
  .poem-separator,
  .poem__images__inner:after,
  .poem__images__inner:before,
  .poem__inner,
  body .article .article__header,
  body .article .article__body {
    background-color: $season-spring;
  }
  .poem__images__spring {
    opacity: 1;
  }
}

[data-season='summer'] {
  .content__main,
  figure,
  .poem-separator,
  .poem__images__inner:after,
  .poem__images__inner:before,
  .poem__inner,
  body .article .article__header,
  body .article .article__body {
    background-color: $season-summer;
  }
  .poem__images__summer {
    opacity: 1;
  }
}


