[data-season] .content__main {
  transition: background-color 12s linear;

}

// Default is autumn
// [data-season='autumn'] {
  .content__main,
  figure {
    background-color: $season-autumn;
  }
// }

[data-season='winter'] {
  .content__main,
  figure {
    background-color: $season-winter;
  }
}

[data-season='spring'] {
  .content__main,
  figure {
    background-color: $season-spring;
  }
}

[data-season='summer'] {
  .content__main,
  figure {
    background-color: $season-summer;
  }
}

